.home-page #shopify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 210px 0 60px;
}
.home-page #shopify .circle-2 {
  position: absolute;
  z-index: -1;
  top: 0%;
  right: 0;
}
.home-page #shopify .circle-1 {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 12%;
}
.home-page #shopify .games-img {
  position: absolute;
  z-index: -1;
  top: 62%;
  left: 90px;
}
.home-page #shopify .bluthoot-left {
  top: 0;
  left: 0%;
  max-width: 500px;
  position: absolute;
  z-index: -1;
}
.home-page #shopify .bluthoot-right {
  top: -8%;
  right: 17%;
  max-width: 500px;
  position: absolute;
  z-index: -1;
}
.home-page #shopify .round-big {
  position: absolute;
  z-index: -1;
  top: 34%;
  right: 50%;
}
.home-page #shopify .round-small {
  position: absolute;
  z-index: -1;
  bottom: 25%;
  right: 46%;
}
.home-page #shopify .full-bluthoot {
  top: 50%;
  right: 21%;
  position: absolute;
  z-index: -1;
}
.home-page #shopify .top-start {
  top: 27%;
  right: 20%;
  position: absolute;
  z-index: -1;
}
.home-page #shopify .container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.home-page #shopify .container .shopify-elements {
  padding: 0 15px;
}
.home-page #shopify .container .shopify-elements .banner-tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12103e;
  padding: 10px 15px;
  color: #fff;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.home-page #shopify .container .shopify-elements .banner-tagline .btn-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  color: #fff;
  margin-right: 10px;
  background: linear-gradient(90deg, #0098ff 0%, rgba(0, 152, 255, 0) 100%);
  border-radius: 20px;
  font-size: 14px;
}
.home-page #shopify .container .shopify-elements .banner-tagline .label {
  font-size: 13px;
}
.home-page #shopify .container .shopify-elements .banner-tagline .label a {
  color: #1c82f3;
}
.home-page #shopify .container .shopify-elements .section-title {
  margin-bottom: 25px;
}
.home-page #shopify .container .shopify-elements .section-title .text {
  width: 570px;
  font-size: 65px;
  font-weight: 600;
  line-height: 60.07px;
  color: #fff;
  margin-bottom: 20px;
}
.home-page #shopify .container .shopify-elements .section-title .text b {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}
.home-page #shopify .container .shopify-elements .section-title p {
  max-width: 475px;
  color: #838383;
}
.home-page #shopify .container .shopify-elements .show-btns {
  margin-top: 20px;
}
.home-page #shopify .container .shopify-elements .show-btns .btn-products {
  text-align: center;
  color: #fff;
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  margin-right: 14px;
  padding: 12px 40px;
  border-radius: 0px 20px 0px 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  justify-content: center;
}
.home-page #shopify .container .shopify-elements .show-btns .btn-products:hover {
  background: transparent;
  color: #838383;
  border: 1px solid #838383;
}
.home-page #shopify .container .shopify-elements .show-btns .btn-products span {
  padding-right: 10px;
}
.home-page #about-our-shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 70px;
}
.home-page #about-our-shop .about-image-small {
  position: absolute;
  z-index: -1;
  bottom: 8%;
  left: 4%;
}
.home-page #about-our-shop .container {
  width: 80%;
}
.home-page #about-our-shop .container .about-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 40px;
}
.home-page #about-our-shop .container .about-title h2 {
  color: black;
  margin-bottom: 10px;
}
.home-page #about-our-shop .container .about-title .about-text {
  font-size: 14px;
  color: #838383;
}
.home-page #about-our-shop .container .about-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home-page #about-our-shop .container .about-elements .about-us-box {
  width: 270px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  padding: 25px 15px;
}
.home-page #about-our-shop .container .about-elements .about-us-box::before {
  border: 1px solid #7b35c8;
  background: linear-gradient(148deg, rgba(1, 152, 255, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0 15px;
}
.home-page #about-our-shop .container .about-elements .about-us-box .h2-title {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
  font-size: 35px;
  font-family: Outfit, sans-serif;
  margin-bottom: 10px;
}
.home-page #about-our-shop .container .about-elements .about-us-box .h3-title {
  font-family: Outfit, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}
.home-page #about-our-shop .container .about-elements .about-us-box p {
  width: 175px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  color: gray;
}
.home-page #products {
  background: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  width: 100%;
}
.home-page #products .product-circle {
  top: -8%;
  left: 24%;
  z-index: -1;
  position: absolute;
}
.home-page #products .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page #products .container .product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 40px;
}
.home-page #products .container .product-top h2 {
  color: #fff;
  font-family: Outfit, sans-serif;
  font-size: 38px;
  font-weight: 500;
}
.home-page #products .container .product-top .btn {
  background: transparent;
  color: #838383;
  border: 1px solid #838383;
  transition: all ease-in-out 0.3s;
  text-align: center;
  padding: 12px 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  border-radius: 0 20px;
}
.home-page #products .container .product-top .btn span {
  margin-right: 10px;
}
.home-page #products .container .product-swiper .products {
  width: 100%;
}
.home-page #products .container .product-swiper .products .mySwiper {
  width: 80vw;
}
.home-page #products .container .product-swiper .products .mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  gap: 30px;
}
.home-page #products .container .product-swiper .products .mySwiper .swiper-wrapper .swiper-slide .product-card .element .product-info .bottom-content .price-addtocart .price {
  color: white;
}
.home-page #products .container .product-swiper .products .mySwiper .swiper-wrapper .swiper-slide .product-card .element .product-info .bottom-content .price-addtocart .currency-type {
  color: white;
}
.home-page #products .container .product-swiper .products .mySwiper .swiper-pagination {
  --swiper-pagination-bottom: -5px;
}
.home-page #products .container .product-swiper .products .mySwiper .swiper-pagination .swiper-pagination-bullet {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  width: 30px;
  height: 2px;
  border-radius: 5px;
}
.home-page #client-logo {
  background: rgb(0, 0, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 70px 0px;
}
.home-page #client-logo .container {
  width: 80%;
}
.home-page #client-logo .container .swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page #client-logo .container .swiper .swiper-pagination {
  display: none;
}
.home-page #client-logo .container .swiper .swiper-button-next::after {
  --swiper-navigation-size: 24px;
}
.home-page #client-logo .container .swiper .swiper-button-prev::after {
  --swiper-navigation-size: 24px;
}
.home-page #gaming-categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, transparent 66%, rgb(0, 0, 0) 15%);
  position: relative;
}
.home-page #gaming-categories .gaming-circle {
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.home-page #gaming-categories .gaming-console {
  top: 26%;
  right: 1%;
  z-index: 1;
  position: absolute;
}
.home-page #gaming-categories .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3.125rem;
}
.home-page #gaming-categories .container .left {
  padding: 0 15px;
}
.home-page #gaming-categories .container .left .gaming-leftbar {
  width: 250px;
}
.home-page #gaming-categories .container .left .gaming-leftbar .section-title {
  margin-bottom: 60px;
  color: #fff;
}
.home-page #gaming-categories .container .left .gaming-leftbar .section-title h2 {
  max-width: 270px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
  font-size: 38px;
}
.home-page #gaming-categories .container .left .gaming-leftbar .section-title h2 b {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}
.home-page #gaming-categories .container .left .gaming-leftbar .tab {
  display: flex;
  flex-direction: column;
}
.home-page #gaming-categories .container .left .gaming-leftbar .tab li {
  font-family: Outfit, sans-serif;
  width: 250px;
  height: 39px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 33px;
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  border: 10px solid;
  border: 1px solid #838383;
  font-weight: 500;
  color: #838383;
  letter-spacing: 1px;
  border-radius: 0 20px;
}
.home-page #gaming-categories .container .left .gaming-leftbar .tab li .icon {
  font-size: 15px;
  margin-right: 10px;
}
.home-page #gaming-categories .container .left .gaming-leftbar .more-categories {
  text-align: center;
}
.home-page #gaming-categories .container .left .gaming-leftbar .more-categories span {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  text-decoration: underline;
  color: #838383;
  font-size: 13px;
  align-content: center;
}
.home-page #gaming-categories .container .right {
  width: 75%;
  gap: 10px;
  display: flex;
}
.home-page #gaming-categories .container .right .swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home-page #gaming-categories .container .right .swiper .swiper-wrapper {
  display: flex;
}
.home-page #gaming-categories .container .right .swiper .swiper-wrapper .swiper-slide {
  width: 260px;
}
.home-page #gaming-categories .container .right .swiper .swiper-wrapper .swiper-slide .product-card .element .product-info .top span {
  color: black;
}
.home-page #gaming-categories .container .right .swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page #gaming-categories .container .right .swiper .swiper-pagination {
  display: none;
}
.home-page #gaming-categories .container .right .swiper .swiper-button-next::after {
  --swiper-navigation-size: 24px;
}
.home-page #gaming-categories .container .right .swiper .swiper-button-prev::after {
  --swiper-navigation-size: 24px;
}
.home-page #subscribe-section {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page #subscribe-section .container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page #subscribe-section .container .subscribe-content .section-title {
  margin-bottom: 40px;
}
.home-page #subscribe-section .container .subscribe-content .section-title .slide-label {
  background: linear-gradient(90deg, #0098ff 0%, #7b35c8 100%);
  opacity: 62%;
  top: 45px;
  position: absolute;
  padding: 3px 10px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
.home-page #subscribe-section .container .subscribe-content .section-title h2 {
  color: black;
  max-width: 380px;
  margin: 15px 0;
  font-size: 38px;
  font-weight: 600;
}
.home-page #subscribe-section .container .subscribe-content .section-title h2 b {
  font-weight: 600;
  font-family: Outfit, sans-serif;
  display: inline-block;
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}
.home-page #subscribe-section .container .subscribe-content .section-title p {
  color: #838383;
  font-family: Outfit, sans-serif;
  font-size: 14px;
}
.home-page #subscribe-section .container .subscribe-content .input-subscribe form {
  margin-bottom: 20px;
  width: 450px;
  position: relative;
}
.home-page #subscribe-section .container .subscribe-content .input-subscribe form input {
  padding: 13px 15px 13px 20px;
  border: 1px solid black;
  color: #838383;
  position: relative;
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 0 20px;
  font-size: 13px;
  font-family: Outfit, sans-serif;
  line-height: 1;
}
.home-page #subscribe-section .container .subscribe-content .input-subscribe form .subscribe {
  position: absolute;
  right: 0%;
  border-radius: 0 15px 0 0;
  color: var(--white);
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  font-size: 13px;
  top: 0%;
  height: 100%;
  border: 0;
  padding: 14px 45px;
}
.home-page #pro-gaming-products {
  background: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  padding: 70px 0px;
}
.home-page #pro-gaming-products .gaming-products {
  width: 76px;
  top: -13%;
  left: 8%;
  position: absolute;
  z-index: -1;
}
.home-page #pro-gaming-products .gaming-products-one {
  top: -4%;
  right: 30%;
  position: absolute;
  z-index: -1;
}
.home-page #pro-gaming-products .circle {
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.home-page #pro-gaming-products .design-circle {
  top: 3%;
  right: 14%;
  position: absolute;
  z-index: -1;
}
.home-page #pro-gaming-products .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page #pro-gaming-products .container .section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: #fff;
}
.home-page #pro-gaming-products .container .section-top .section-title-left h2 {
  width: 320px;
  font-size: 38px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
}
.home-page #pro-gaming-products .container .section-top .section-title-center p {
  color: #838383;
  max-width: 440px;
  font-size: 15px;
}
.home-page #pro-gaming-products .container .section-top .section-title-right .btn {
  background: transparent;
  color: #838383;
  border: 1px solid #838383;
  transition: all ease-in-out 0.3s;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  border-radius: 0 20px;
  padding: 12px 40px;
  outline: none;
}
.home-page #pro-gaming-products .container .section-top .section-title-right .btn:hover {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  color: var(--white);
  border: 1px solid transparent;
}
.home-page #pro-gaming-products .container .section-top .section-title-right .btn .text {
  margin-right: 10px;
}
.home-page #pro-gaming-products .container .section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-left img {
  width: 566px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center {
  padding: 0 15px;
  color: #fff;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner {
  position: relative;
  background: linear-gradient(148deg, rgba(1, 152, 255, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  border-radius: 0 12px;
  padding: 15px 30px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 0 12px;
  border: 1px solid transparent;
  background: linear-gradient(to left, #0098ff 50%, #7b35c8) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  top: 0;
  left: 0;
  right: 0;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .product-title {
  max-width: 210px;
  margin-bottom: 15px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .card-info p {
  width: 270px;
  margin: 15px 0;
  color: #838383;
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .top .text-small {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-weight: 600;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .top select {
  margin-top: 10px;
  border: solid 1px #838383;
  color: #838383;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: none;
  position: relative;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 35px 10px 15px;
  width: 100%;
  -webkit-appearance: none;
  background: url("/../public/images/dropdown.png") no-repeat;
  background-size: 14px;
  background-position: calc(100% - 15px) 50%;
  border-radius: 0 10px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left {
  display: inline-flex;
  font-weight: 600;
  font-family: Outfit, sans-serif;
  color: #fff;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .price {
  font-size: 25px;
  font-weight: 500;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .unit {
  font-size: 14px;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-right .product-from {
  transition: all ease-in-out 0.3s;
  text-align: center;
  color: #fff;
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  border-radius: 0 20px;
  padding: 12px 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.home-page #pro-gaming-products .container .section-bottom .section-bottom-right img {
  width: 502px;
}
.home-page #gaming-products-second .products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page #gaming-products-second .products-container .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-left img {
  width: 480px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center {
  padding: 0 15px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner {
  position: relative;
  background: linear-gradient(148deg, rgba(1, 152, 255, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  border-radius: 0 12px;
  padding: 15px 30px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 0 12px;
  border: 1px solid transparent;
  background: linear-gradient(to left, #0098ff 50%, #7b35c8) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  top: 0;
  left: 0;
  right: 0;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .product-title {
  max-width: 210px;
  margin-bottom: 15px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .card-info p {
  width: 270px;
  margin: 15px 0;
  color: #838383;
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .top .text-small {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-weight: 600;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .top select {
  margin-top: 10px;
  border: solid 1px #838383;
  color: #838383;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: none;
  position: relative;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 35px 10px 15px;
  width: 100%;
  -webkit-appearance: none;
  background: url("/../public/images/dropdown.png") no-repeat;
  background-size: 14px;
  background-position: calc(100% - 15px) 50%;
  border-radius: 0 10px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left {
  display: inline-flex;
  font-weight: 600;
  font-family: Outfit, sans-serif;
  color: #fff;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .price {
  font-size: 25px;
  font-weight: 500;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .unit {
  font-size: 14px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-right .product-from {
  transition: all ease-in-out 0.3s;
  text-align: center;
  color: #fff;
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  border-radius: 0 20px;
  padding: 12px 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .product-title {
  font-size: 26px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .top .text-small {
  color: black;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left {
  color: black;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .price {
  font-size: 20px;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-center .product-card-inner .select-addtocart .product-content-bottom .content-left .unit {
  font-size: 14px;
  font-weight: 400;
}
.home-page #gaming-products-second .products-container .section-content .section-bottom-right img {
  width: 334px;
}
.home-page #gaming-blog {
  background: rgb(0, 0, 0);
  position: relative;
  padding: 60px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page #gaming-blog .blog-ring {
  position: absolute;
  z-index: 1;
  top: -3%;
  right: 13%;
}
.home-page #gaming-blog .full-bluthooth {
  position: absolute;
  bottom: -5%;
  left: 8%;
  width: 80px;
  z-index: 1;
}
.home-page #gaming-blog .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page #gaming-blog .container .section-top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: #fff;
}
.home-page #gaming-blog .container .section-top .section-title-left h2 {
  width: 320px;
  font-size: 38px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
}
.home-page #gaming-blog .container .section-top .section-title-left h2 b {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}
.home-page #gaming-blog .container .section-top .section-title-center p {
  color: #838383;
  max-width: 440px;
  font-size: 15px;
}
.home-page #gaming-blog .container .section-top .section-title-right .btn {
  background: transparent;
  color: #838383;
  border: 1px solid #838383;
  transition: all ease-in-out 0.3s;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  border-radius: 0 20px;
  padding: 12px 40px;
  outline: none;
}
.home-page #gaming-blog .container .section-top .section-title-right .btn:hover {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  color: var(--white);
  border: 1px solid transparent;
}
.home-page #gaming-blog .container .section-top .section-title-right .btn .text {
  margin-right: 10px;
}
.home-page #gaming-blog .container .blog-items {
  width: 1000px;
}
.home-page #gaming-blog .swiper-pagination {
  display: none;
}
.home-page #testimonials {
  margin: 70px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page #testimonials .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-page #testimonials .container .section-top {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home-page #testimonials .container .section-top .section-title-left h2 {
  color: black;
  font-size: 38px;
  font-weight: 600;
  font-family: Outfit, sans-serif;
}
.home-page #testimonials .container .section-top .section-title-right p {
  max-width: 440px;
  color: #838383;
}
.home-page #testimonials .container .testimonials-swiper {
  width: 100%;
}
.home-page #testimonials .swiper-wrapper {
  width: 100vw;
  display: flex;
  gap: 7rem;
}
.home-page #testimonials .swiper-pagination {
  display: none;
}/*# sourceMappingURL=HomePage.css.map */